<h1 class="text-center mt-4 mb-4 fw-bold">Books management</h1>

<div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <ul class="d-flex align-items-center nav nav-pills">
    <li class="nav-item">
      <%= button_to "Add new book", new_book_path, method: "get", 
      class: "btn btn-outline-dark btn-lg shadow mb-5 me-3" %>
    </li>
  </ul>
</div>

<%= render 'books/book' %>